build/
tmp/
gamedesing/assets/generated/source/
.cache/
.vs/
.vscode/.cmake/
compile_commands.json
*.user
*.suo
*.ntpack
src/generated/*.h
!src/generated/game_state.h
!src/generated/game_state_schema.gen.h
__pycache__/
*.pyc
